<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Node.js, javascript, iOS, software">
  <meta name="author" content="George Shank">
  <title> 

    {% if page.title %} 
      {{ page.title }} |
    {% endif %}

    George Shank

  </title>
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="/styles/pygments.css" />
  <link rel="stylesheet" href="/styles/font-awesome.css" />
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32449580-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div id="main">
    <header>
      <a href="/"><h1>George Shank</h1></a>
      <div class="tagline">
        <h5> <i> I hear that guy is pretty cool... </i></h5>
      </div>
    </header>
    <nav role="navigation">
      <div id="profile">
        <ul class="social-links">
          <li><a href="http://twitter.com/taterbase"><i class="icon-twitter-sign"></i></a></li>
          <li><a href="http://github.com/taterbase"><i class="icon-github-sign"></i></a></li>
          <li><a href="http://linkedin.com/in/taterbase"><i class="icon-linkedin-sign"></i></a></li>
          <li class="envelope"><a href="mailto:shankga@gmail.com"><i class="icon-envelope-alt"></i></a></li>
        </ul>
        <div class="profile-pic">
          <img src="/img/long-haired-me.jpeg" />
        </div>
      </div>
      <div class="post-list">
        <h2> Recent Posts </h2>
        <ul>
          {% for post in site.posts limit: 3%}
            <li>
              <a href="{{ post.url }}">{{post.title}}</a>
            </li>
          {% endfor %}
          {% if site.posts.size > 3 %}
            <li>
              <a href="/posts.html">more... &rarr;</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {{ content }}
    <br />
    <br />
    <br />
    <br />
    <footer>
      <hr />
      <p>&copy; Taterbase Inc. 2012 | All Rights Reserved. </p>
    </footer>
  </div>
</body>
</html>
