/************Reset**************/
* { 
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
}
html, body, div, object, iframe, fieldset { 
        margin: 0; 
        padding: 0; 
        border: 0;
} 
ol, ul { 
        list-style: none;
        margin: 0;
        padding: 0;
} 
table { 
        border-collapse: collapse; 
        border-spacing: 0; 
}
header, footer, nav, section, article, hgroup, figure {
        display: block; 
}
legend {
        display: none;
}
/************End Reset**************/
body {
  color: #8b491c;
  background: #FEFFF9;
  border-top: 6px #faa85c solid;
}

a:link {
  color: #F87C0B;
  text-decoration: none;
}

a:visited {
  color: #F87C0B;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:link img{
  border-bottom: 0;
}

.tagline {
  color: #E4C0A7;
  margin-left: 35px;
  margin-top: -20px;
}

#main { 
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-weight: lighter;
  margin: 30px;
}

.social-links {
  float: left;
}

.profile-pic {
  width: 112px;
  height: 112px;
  margin-left: 50px;
  border: 5px solid #F5E3D7;
}

.profile-pic img{
  width: 102px;
  height: 102px;
}

.separator {
  border-bottom: 1px solid #DDCBAB;
  margin-top: 10px;
  margin-bottom: -10px;
}

footer {
  font-size: 12px;
}

/******Media Queries*******/

@media all and (min-width:40em) {

}

@media screen and (min-width: 68em) {

}

/*****Pygments Extras*******/
.highlight{
  background: #f3f3f3;
  margin-left: 10px;
  padding: 1px 10px;
  width: 70%;
}

