/************Reset**************/
* { 
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
}
html, body, div, object, iframe, fieldset { 
        margin: 0; 
        padding: 0; 
        border: 0;
} 
ul { 
        list-style: none;
        margin: 0;
        padding: 0;
} 
table { 
        border-collapse: collapse; 
        border-spacing: 0; 
}
header, footer, nav, section, article, hgroup, figure {
        display: block; 
}
legend {
        display: none;
}
/************End Reset**************/
body {
  color: #8b491c;
  background: #FEFFF9;
  border-top: 6px #faa85c solid;
  text-align: center;
}

a:link {
  color: #F87C0B;
  text-decoration: none;
}

a:visited {
  color: #F87C0B;
  text-decoration: none;
}

a:link h1 {
  color: #8b491c;
}

a:visited h1 {
  color: #8b491c;
}

a:link i {
  color: #FC983D;
}

a:visited i {
  color: #FC983D;
}

.tagline {
  color: #E4C0A7;
  margin-left: 35px;
  margin-top: -20px;
}

nav {
  float: left;
}

.social-links {
  margin-top: -6px;
}

.social-links li{
  height: 30px;
  font-size: 29px;
}

.social-links li.envelope {
  margin-left: 3px;
  font-size: 24px;
}

#main { 
  margin: 0 auto;
  text-align: left;
  width: 800px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-weight: lighter;
}


.post-detail {
  margin-left: 250px;
}

.social-links {
  float: left;
}

.profile-pic {
  width: 112px;
  height: 112px;
  margin-left: 50px;
  border: 5px solid #F5E3D7;
}

.profile-pic img{
  width: 102px;
  height: 102px;
}

ul.all-posts li {
  padding: 5px;
}

ul.all-posts li .abbr-date {
  display: inline;
  font-family: monospace;
}

hr {
  border: 0;
  border-bottom: 1px solid #DDCBAB;
  margin-top: 10px;
  margin-bottom: -10px;
}

footer {
  font-size: 12px;
}

.clear {
  clear: both;
}

/******Media Queries*******/

@media screen and (max-width: 980px) {
  #main {
    width: 95%;
  }

}

@media screen and (max-width: 650px) {
  nav {
    float: none;
  }


  #profile {
    float: left;
  }

  .post-list {
    margin-left: 180px;
  }

  .post-list h2 {
    font-size: 18px;
  }

  .post-list a {
  }

  .post-detail {
    clear: both;
    margin-top: 55px;
    margin-left: 0;
  }

  #title {
    margin-top: -10px;
  }
}

@media screen and (max-width: 568px) {
  #main {
    width: 90%;
  }

  .social-links {
    margin-top: 0px;
  }

  .post-list h2 {
    font-size: 16px;
  }

  .post-list a {
    font-size: 14px;
  }

}

@media screen and (max-width: 320px) {

  .post-detail h1 {
    text-align: center;
  }

  .post-date {
    text-align: center;
  }

  header {
    text-align: center;
  }

  .tagline {
    margin-left: 0px;
  }

}

/*****Pygments Extras*******/
code {
  background: #FFF6E8;
  color: #CD5555;

  padding: 1px;

  -moz-border-radius: 5px;
  border-radius: 5px;

  border: 1px solid #DDCBAB;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.highlight{
  background: #FFF6E8;
  padding: 1px 10px;

  -moz-border-radius: 5px;
  border-radius: 5px;

  border: 1px solid #DDCBAB;
}

pre code{
  border: 0;
}
